body {
   margin: 0;
   padding: 0;
   font-family: tahoma;
   font-size: 11px;
   color: #777777;
   background: url(../img/bgr.gif);
}

h1 {
   color: #50A1CE;
   font-size: 15px;
   font-weight: bold;
   margin: 0px;
   padding: 26px 10px 6px 10px;
   text-align:left;
}

img {
   border:0;
}

form {
   margin: 0px;
   padding: 0px;
}

p {
   text-align: justify;
   margin: 0px;
   padding: 5px 10px 10px 10px;
}

.scrolltopcontrol {
   background-color:grey;
   margin:20px;
   padding:10px;
   border-radius:5px;
}

#gentime_div {
   width:220px;
   display:none;
   position: fixed;
   bottom:30;
   left:0;
   margin:5px;
   background-color:white;
   padding:5px;
   border-radius:5px;
   border:grey 1px solid;
}

#gentime_clock {
   position: fixed;
   bottom:0;
   left:0;
   margin:5px;
   cursor:pointer;
}

* html #gentime_div {
   position: absolute;
}

* html #gentime_clock {
   position: absolute;
}

.line {
   height:1px;
   background-color:#b7c4d2;
   margin-top:7px;
   margin-bottom:7px;
   overflow: hidden;
}

.container {
   display:block;
   background-color: white;
   width:715px;
   border: 1px solid #D7D7D7;
   margin-top:60px;
   padding:10px;
   border-radius: 10px;
   -moz-border-radius: 10px;
   -webkit-border-radius: 10px;
   -khtml-border-radius: 10px;
   box-shadow: 0 0 15px grey;
   -moz-box-shadow: 0 0 15px grey;
   -webkit-box-shadow: 0 0 15px grey;
}

.uploadform {
   width:510px;
   border: 1px solid #D7D7D7;
   padding:5px;
   margin: 5px;
   border-radius:10px;
}

.imgopis {
   display:block;
   text-align: left;
   cursor:text;
   width:80%;
   background: white;
   border: 1px solid #D7D7D7;
   border-radius:10px;
   padding:5px;
   overflow-y: auto;
}

#tooltip {
   background: rgba(0, 0, 0, 0.102);
   border-radius:3px;
   box-shadow: rgba(0, 0, 0, 0.298) 0px 1px 2px 0px inset, #FFFFFF 0px 1px 0px 0px;
   color: #222222;
   display: inline-block;
   height: 13px;
   padding: 3px 7px;
   text-align: center;
   text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.600);
   position:absolute;
   visibility:hidden;
}
* html #tooltip {
   background-color: #D7D7D7;
}

#moreimg,#moreal {
   height:20px;
   width:630px;
   border-radius:5px;
   text-align:center;
   text-decoration:none;
   cursor:pointer;
   font-size:12px;
   border: #BEC8D3 1px solid;
   padding:5px;
   padding-top:10px;
   color: #45689D;
   background-color: #DAE2E8;
   margin-top:10px;
}

.button{
   background:url("../img/button.png") repeat-x 0px -16px;
   border: #5980A9 1px solid;
   border-radius: 3px;
   color: #ffffff;
   cursor: pointer;
   font-family:Tahoma;
   font-size:11px;
}

.configtable {
   font-size: 11px;
}
.configtable input {
   height: 17px;
   font-size: 11px;
   column-gap: 11px;
   padding: 1px;
   font-family: Tahoma;
}

a {
   text-decoration: underline;
   color: #37A6D3;
}
a:hover, a:active {
   color: #B56906;
   text-decoration: none;
}

.param-body {
   border-color: #BEC8D3;
   border-style: solid;
   border-width: 0px 1px 1px 1px;
   padding:3px;
}
.param-header {
   text-align:center;
   text-decoration:none;
   cursor:pointer;
   border: #BEC8D3 1px solid;
   padding:2px;
   color: #45689D;
   background-color: #DAE2E8;
   margin-top:5px;
}

.clear {
   clear: both;
}

#topmenu {
   text-align: right;
   margin-right: 5px;
   margin-top: 5px;
}

#topmenu a:link, #topmenu a:visited {
   text-align: right;
   color: #37A6D3; 
   font-size: 13px;
   font-family: tahoma, Arial, Helvetica, "Trebuchet MS", sans-serif;
   text-decoration: none;
   padding: 3px 8px 3px 8px;
   border-right: 1px solid #D7D7D7;
}

#topmenu a:hover, #topmenu a:active {
   text-decoration: underline;
   color: #37A6D3;
   background: url(img/str-gr-a.gif) no-repeat left center;
}

#top-button {
   float: right;
   margin-right: 10px;
   width: 60px;
   text-align: right
}

#loginputs {
   float: right;
   width: 400px;
   font-size: 10px;
   color: #888888;
   text-align: right;
   padding-top: 3px;
}

#loginputs input {
   width: 85px;
   height: 17px;
   border: 1px solid #D7D7D7;
   color: #555555;
   font-size: 10px
}

.logotype {
   width:200px;
   height:83px;
   margin: 10px;
   padding-bottom:3px;
   border-bottom:white 3px solid;
   background:url("../img/logotype.gif") no-repeat;
   display:block;
   float:left;
}
.logotype:hover {
   background:url("../img/logotype_hover.gif") no-repeat;
   border-bottom:#50a1ce 3px solid;
}

#regbuts {
   float: right;
   width: 200px;
   font-size: 10px;
   text-align: right;
   margin-right: 20px;
}

#regbuts a:link, #regbuts a:visited {
   color: #37A6D3;
   font-size: 10px;
   text-decoration: underline;
   text-align: left;
}

#regbuts a:hover, #regbuts a:active {
   text-decoration: none;
}

.input-bgr {
   background: url(../img/src-input.gif) no-repeat;
   width: 449px;
   height: 25px;
}

.input-bgr2 {
   padding: 1px 0 0 1px;
}

* html .input-bgr2 {
   padding: 0 0 0 1px;
}

*+ html .input-bgr2 {
   padding: 0 0 0 1px;
}

.input-bgr input {
   font-size: 13px;
   border: 0px
}


#footer {
   border-top: 1px solid #D7D7D7;
   color: #D7D7D7;
   font-size: 12px;
   text-align: center;
   padding: 10px 0 10px 0;
   margin: -20px 20px 0 20px;
}

#footer a {
   color: #888888; 
   font-size: 10px;
   text-decoration: underline;
   padding: 0 10px 0 10px;
}

#footer a:hover, #footer a:active {
   text-decoration: none;
   color: #444444
}


.pane {

   background-color: #F5F5F5;
   border: #B7C4D2 solid 1px;
   color: rgb(0, 0, 0);
   font-size: 11px;
   padding:10px;

}


textarea {
   width:100%;
   clear: both;
   overflow: auto;
   display: block;
   padding: 3px;
   font-size: 11px;
   border: 1px solid #D3D3D3;
}

.msg {
   background-color: #F4EBBD;
   border: #D7CF9E 1px solid;
   font-size: 11px;
   color: #000000;
   padding-bottom: 8px;
   padding-left: 11px;
   padding-right: 11px;
   padding-top: 8px;
}

.al_a {
   text-decoration:none;
}

.ald1 {
   width:150px;
   height:150px;
   border:#cccccc 1px solid;
   padding-left:4px;
   padding-top:4px;
   cursor:pointer;
}

* html .ald1 {
   padding:0;
}

.ald2 {
   width:150px;
   height:150px;
   background-color:white;
   border:#cccccc 1px solid;
   padding:4px;
   cursor:pointer;
}

* html .ald2 {
   position:relative;
   left:4px;
   top:4px;
   padding-bottom:1px;
}

.al_nazv {
   width:150px;
   margin-left:10px;
   margin-top:10px;
   font-size:11px;
   font-family:Tahoma;
   color: #50A1CE;
   text-align:left;
   cursor:pointer;
}

.al_ph_sum {
   width:150px;
   font-size:11px;
   font-family:Tahoma;
   color:#808080;
   margin-left:10px;
   text-align:left;
   cursor:pointer;
}

.summary_tab {
   border-radius: 3px;
   padding: 4px;
   cursor: pointer;
   font-size: 11px;
   font-family: Tahoma;
   text-decoration: none;
}

.tab_sel {
   background-color: #339bb9;
   color: #ffffff;
   background-image: -khtml-gradient(linear, left top, left bottom, from(#5bc0de), to(#339bb9));
   background-image: -moz-linear-gradient(top, #5bc0de, #339bb9);
   background-image: -ms-linear-gradient(top, #5bc0de, #339bb9);
   background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #5bc0de), color-stop(100%, #339bb9));
   background-image: -webkit-linear-gradient(top, #5bc0de, #339bb9);
   background-image: -o-linear-gradient(top, #5bc0de, #339bb9);
   background-image: linear-gradient(top, #5bc0de, #339bb9);
}

.tab_sel:hover,.tab_sel:active {
   color: #ffffff;
}

.tab_unsel {
   color: #50A1CE;
}

.tab_unsel:hover {
   color: #50A1CE;
   background-color: #e1e7ed;
}

.tab2_sel {
   text-decoration:none;
   cursor:pointer;
   background-color:#37A6D3;
   background-image: -moz-linear-gradient(top, #5bc0de, #339bb9);
   background-image: -webkit-linear-gradient(top, #5bc0de, #339bb9);
   background-image: -o-linear-gradient(top, #5bc0de, #339bb9);
   background-image: -ms-linear-gradient(top, #5bc0de, #339bb9);
   background-image: linear-gradient(top, #5bc0de, #339bb9);
   color:white;
   border-top-left-radius:5px;
   border-top-right-radius:5px;
   padding:5px;
}
.tab2_sel:hover {
   color:white;
}
.tab2_unsel {
   text-decoration:none;
   cursor:pointer;
   color:#2C83AD;
   border-top-left-radius:5px;
   border-top-right-radius:5px;
   padding:5px;
}
.tab2_unsel:hover {
   background-color:#e1e7ed;
   color:#2C83AD;
}

.modalform_header {
   box-shadow:0 0 5px grey;
   height:30px; color:white;
   background-color:#50a1ce;
   text-align:left;
   padding-left:15px;
   padding-top:6px;
   font-size:20px;
   border-radius:10px;
   margin:2px;
}
.modalform_header_nazv {
   float:left;
   text-shadow: black 2px 2px 5px;
}
.modalform_header_close {
   float:right;
   cursor:pointer;
   margin-right:10px;
}
.modalform_body {
   text-align:left;
   margin:10px;
}

#about_link {
   text-decoration : none;
   border-bottom : 1px solid white;
}

#about_link:hover {
   color:#50A1CE;
   border-bottom : 1px dashed #50A1CE;
}

.field_imgset {
   width:300px;
   text-align:left;
   background-color:#E5EAED;
   border:#BEC8D3 1px solid;
   border-radius:5px;
   margin:3px;
   font-size:13px;
   font-family:Tahoma;
}

.field_imgset legend {
   background-color:#37A6D3;
   background-image: -moz-linear-gradient(top, #5bc0de, #339bb9);
   background-image: -webkit-linear-gradient(top, #5bc0de, #339bb9);
   background-image: -o-linear-gradient(top, #5bc0de, #339bb9);
   background-image: -ms-linear-gradient(top, #5bc0de, #339bb9);
   background-image: linear-gradient(top, #5bc0de, #339bb9);
   border:#BEC8D3 1px solid;
   padding:4px;
   margin-left:10px;
   border-radius:5px;
   color:white;
}


label,input,select,textarea{font-family:"Helvetica Neue",Helvetica,Arial,sans-serif;font-size:13px;font-weight:normal;line-height:normal;}
input[type=checkbox],input[type=radio]{cursor:pointer;}
input,textarea{display:inline-block;padding:4px;font-size:13px;line-height:18px;color:#000000;border:1px solid #ccc;border-radius:3px;}
input[type=checkbox],input[type=radio]{width:auto;height:auto;padding:0;margin:3px 0;*margin-top:0;line-height:normal;border:none;}
input[type=file]{background-color:#ffffff;padding:initial;border:initial;line-height:initial;box-shadow:none;}
input[type=button],input[type=reset],input[type=submit]{width:auto;height:auto;}
select,input[type=file]{height:27px;*height:auto;line-height:27px;*margin-top:4px;}
input[type=text],textarea{box-shadow:inset 0 1px 3px rgba(0, 0, 0, 0.1);}
input:focus,textarea:focus{outline:0;border-color:rgba(82, 168, 236, 0.8);box-shadow:inset 0 1px 3px rgba(0, 0, 0, 0.1),0 0 8px rgba(82, 168, 236, 0.6);}
input[type=file]:focus,input[type=checkbox]:focus,select:focus{box-shadow:none;}
.input-mini,input.mini,textarea.mini,select.mini{width:60px;}
.input-small,input.small,textarea.small,select.small{width:90px;}
.input-medium,input.medium,textarea.medium,select.medium{width:150px;}
.input-large,input.large,textarea.large,select.large{width:210px;}
.input-xlarge,input.xlarge,textarea.xlarge,select.xlarge{width:270px;}
.input-xxlarge,input.xxlarge,textarea.xxlarge,select.xxlarge{width:530px;}
textarea.xxlarge{overflow-y:auto;}
input.span1,textarea.span1{display:inline-block;float:none;width:30px;margin-left:0;}
input.span2,textarea.span2{display:inline-block;float:none;width:90px;margin-left:0;}
input.span3,textarea.span3{display:inline-block;float:none;width:150px;margin-left:0;}
input.span4,textarea.span4{display:inline-block;float:none;width:210px;margin-left:0;}
input.span5,textarea.span5{display:inline-block;float:none;width:270px;margin-left:0;}
input.span6,textarea.span6{display:inline-block;float:none;width:330px;margin-left:0;}
input.span7,textarea.span7{display:inline-block;float:none;width:390px;margin-left:0;}
input.span8,textarea.span8{display:inline-block;float:none;width:450px;margin-left:0;}
input.span9,textarea.span9{display:inline-block;float:none;width:510px;margin-left:0;}
input.span10,textarea.span10{display:inline-block;float:none;width:570px;margin-left:0;}
input.span11,textarea.span11{display:inline-block;float:none;width:630px;margin-left:0;}
input.span12,textarea.span12{display:inline-block;float:none;width:690px;margin-left:0;}
input.span13,textarea.span13{display:inline-block;float:none;width:750px;margin-left:0;}
input.span14,textarea.span14{display:inline-block;float:none;width:810px;margin-left:0;}
input.span15,textarea.span15{display:inline-block;float:none;width:870px;margin-left:0;}
input.span16,textarea.span16{display:inline-block;float:none;width:930px;margin-left:0;}
input[disabled],select[disabled],select[readonly]{background-color:#f5f5f5;border-color:#ddd;}

.btn {
   cursor: pointer;
   display: inline-block;
   background-color: #e6e6e6;
   background-repeat: no-repeat;
   background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), color-stop(25%, #ffffff), to(#e6e6e6));
   background-image: -webkit-linear-gradient(#ffffff, #ffffff 25%, #e6e6e6);
   background-image: -moz-linear-gradient(top, #ffffff, #ffffff 25%, #e6e6e6);
   background-image: -ms-linear-gradient(#ffffff, #ffffff 25%, #e6e6e6);
   background-image: -o-linear-gradient(#ffffff, #ffffff 25%, #e6e6e6);
   background-image: linear-gradient(#ffffff, #ffffff 25%, #e6e6e6);
   filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#e6e6e6', GradientType=0);
   padding: 5px 14px 5px;
   text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
   color: #333;
   font-size: 13px;
   line-height: normal;
   border: 1px solid #ccc;
   border-bottom-color: #bbb;
   -webkit-border-radius: 4px;
   -moz-border-radius: 4px;
   border-radius: 4px;
   -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2),0 1px 2px rgba(0, 0, 0, 0.05);
   -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2),0 1px 2px rgba(0, 0, 0, 0.05);
   box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2),0 1px 2px rgba(0, 0, 0, 0.05);
   -webkit-transition: 0.1s linear all;
   -moz-transition: 0.1s linear all;
   -ms-transition: 0.1s linear all;
   -o-transition: 0.1s linear all;
   transition: 0.1s linear all;
}

.btn:hover {
   background-position: 0 -15px;
   color: #333;
   text-decoration: none;
}

.btn.danger,.btn.danger:hover,.btn.error,.btn.error:hover,.btn.success,.btn.success:hover,.btn.info,.btn.info:hover {
   color: #ffffff;
}

.btn.danger,.btn.error {
   background-color: #c43c35;
   background-repeat: repeat-x;
   background-image: -khtml-gradient(linear, left top, left bottom, from(#ee5f5b), to(#c43c35));
   background-image: -moz-linear-gradient(top, #ee5f5b, #c43c35);
   background-image: -ms-linear-gradient(top, #ee5f5b, #c43c35);
   background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ee5f5b), color-stop(100%, #c43c35));
   background-image: -webkit-linear-gradient(top, #ee5f5b, #c43c35);
   background-image: -o-linear-gradient(top, #ee5f5b, #c43c35);
   background-image: linear-gradient(top, #ee5f5b, #c43c35);
   filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#ee5f5b', endColorstr='#c43c35', GradientType=0);
   text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
   border-color: #c43c35 #c43c35 #882a25;
   border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
}

.btn.success {
   background-color: #57a957;
   background-repeat: repeat-x;
   background-image: -khtml-gradient(linear, left top, left bottom, from(#62c462), to(#57a957));
   background-image: -moz-linear-gradient(top, #62c462, #57a957);
   background-image: -ms-linear-gradient(top, #62c462, #57a957);
   background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #62c462), color-stop(100%, #57a957));
   background-image: -webkit-linear-gradient(top, #62c462, #57a957);
   background-image: -o-linear-gradient(top, #62c462, #57a957);
   background-image: linear-gradient(top, #62c462, #57a957);
   filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#62c462', endColorstr='#57a957', GradientType=0);
   text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
   border-color: #57a957 #57a957 #3d773d;
   border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
}

.btn.info {
   background-color: #339bb9;
   background-repeat: repeat-x;
   background-image: -khtml-gradient(linear, left top, left bottom, from(#5bc0de), to(#339bb9));
   background-image: -moz-linear-gradient(top, #5bc0de, #339bb9);
   background-image: -ms-linear-gradient(top, #5bc0de, #339bb9);
   background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #5bc0de), color-stop(100%, #339bb9));
   background-image: -webkit-linear-gradient(top, #5bc0de, #339bb9);
   background-image: -o-linear-gradient(top, #5bc0de, #339bb9);
   background-image: linear-gradient(top, #5bc0de, #339bb9);
   filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#5bc0de', endColorstr='#339bb9', GradientType=0);
   text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
   border-color: #339bb9 #339bb9 #22697d;
   border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
}

.btn.primary {
   color: #ffffff;
   background-color: #0064cd;
   background-repeat: repeat-x;
   background-image: -khtml-gradient(linear, left top, left bottom, from(#049cdb), to(#0064cd));
   background-image: -moz-linear-gradient(top, #049cdb, #0064cd);
   background-image: -ms-linear-gradient(top, #049cdb, #0064cd);
   background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #049cdb), color-stop(100%, #0064cd));
   background-image: -webkit-linear-gradient(top, #049cdb, #0064cd);
   background-image: -o-linear-gradient(top, #049cdb, #0064cd);
   background-image: linear-gradient(top, #049cdb, #0064cd);
   filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#049cdb', endColorstr='#0064cd', GradientType=0);
   text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
   border-color: #0064cd #0064cd #003f81;
   border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
}

.btn.active,.btn:active {
   -webkit-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.25),0 1px 2px rgba(0, 0, 0, 0.05);
   -moz-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.25),0 1px 2px rgba(0, 0, 0, 0.05);
   box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.25),0 1px 2px rgba(0, 0, 0, 0.05);
}

.btn.disabled {
   cursor: default;
   background-image: none;
   filter: progid: DXImageTransform.Microsoft.gradient(enabled = false);
   filter: alpha(opacity=65);
   -khtml-opacity: 0.65;
   -moz-opacity: 0.65;
   opacity: 0.65;
   -webkit-box-shadow: none;
   -moz-box-shadow: none;
   box-shadow: none;
}

.btn[disabled] {
   cursor: default;
   background-image: none;
   filter: progid: DXImageTransform.Microsoft.gradient(enabled = false);
   filter: alpha(opacity=65);
   -khtml-opacity: 0.65;
   -moz-opacity: 0.65;
   opacity: 0.65;
   -webkit-box-shadow: none;
   -moz-box-shadow: none;
   box-shadow: none;
}

.btn.large {
   font-size: 15px;
   line-height: normal;
   padding: 9px 14px 9px;
   -webkit-border-radius: 6px;
   -moz-border-radius: 6px;
   border-radius: 6px;
}

.btn.small {
   padding: 7px 9px 7px;
   font-size: 11px;
}

.infomsg { cursor:pointer; position: fixed; bottom: 10px; right: 10px; top: auto; left: auto; width: 300px; background-color: rgba(0, 0, 0, 0.8039); border-radius:10px; color:#ffffff; font-size:10pt; padding:10px; box-shadow: 0px 0px 10px #000000; text-align:left; }
* html .infomsg { position: absolute; background-color:#323232; }

#vk{cursor:pointer; width:33px; height:33px;background-image:url(../img/vk_group_gray.png); background-repeat: no-repeat; position:relative; top:26; right:352; display:block; border-bottom-left-radius:10px;}
#vk span.hover{cursor:pointer; width:33px; height:33px; background-image:url(../img/vk_group.png); background-repeat: no-repeat; position:relative; display:block; border-bottom-left-radius:10px;}

* html #vk {
   right:342;
}

label {padding:0px 0px 0px 20px;}
input[type=radio] {display:none;}
input[type=radio] + label {background:url('../img/radio-off.png') no-repeat 0px 0px; cursor:pointer;}
input[type=radio]:checked + label {background:url('../img/radio-on.png') no-repeat 0px 0px; cursor:pointer;}

input[type=checkbox] {display:none;}
input[type=checkbox] + label {background:url('../img/checkbox-off.png') no-repeat 0px 0px; cursor:pointer;}
input[type=checkbox]:checked + label {background:url('../img/checkbox-on.png') no-repeat 0px 0px; cursor:pointer;}


.message {
   -webkit-background-size: 40px 40px;
   -moz-background-size: 40px 40px;
   background-size: 40px 40px;
   background-image: -webkit-gradient(linear, left top, right bottom, color-stop(.25, rgba(255, 255, 255, .05)), color-stop(.25, transparent), color-stop(.5, transparent), color-stop(.5, rgba(255, 255, 255, .05)), color-stop(.75, rgba(255, 255, 255, .05)), color-stop(.75, transparent), to(transparent));
   background-image: -webkit-linear-gradient(135deg, rgba(255, 255, 255, .05) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .05) 50%, rgba(255, 255, 255, .05) 75%, transparent 75%, transparent);
   background-image: -moz-linear-gradient(135deg, rgba(255, 255, 255, .05) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .05) 50%, rgba(255, 255, 255, .05) 75%, transparent 75%, transparent);
   background-image: -ms-linear-gradient(135deg, rgba(255, 255, 255, .05) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .05) 50%, rgba(255, 255, 255, .05) 75%, transparent 75%, transparent);
   background-image: -o-linear-gradient(135deg, rgba(255, 255, 255, .05) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .05) 50%, rgba(255, 255, 255, .05) 75%, transparent 75%, transparent);
   background-image: linear-gradient(135deg, rgba(255, 255, 255, .05) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .05) 50%, rgba(255, 255, 255, .05) 75%, transparent 75%, transparent);
   -moz-box-shadow: inset 0 -1px 0 rgba(255,255,255,.4);
   -webkit-box-shadow: inset 0 -1px 0 rgba(255,255,255,.4);
   box-shadow: inset 0 -1px 0 rgba(255,255,255,.4);
   width: 100%;
   border: 1px solid;
   color: #fff;
   padding: 15px;
   position: fixed;
   _position: absolute;
   text-shadow: 0 1px 0 rgba(0,0,0,.5);
   -webkit-animation: animate-bg 5s linear infinite;
   -moz-animation: animate-bg 5s linear infinite;
   z-index:1000;
}

.info {
   background-color: #4ea5cd;
   border-color: #3b8eb5;
}

.error {
   background-color: #de4343;
   border-color: #c43d3d;
}

.warning {
   background-color: #eaaf51;
   border-color: #d99a36;
}

.success {
   background-color: #61b832;
   border-color: #55a12c;
}

.message h3 {
   margin: 0 0 5px 0;
}

.message p {
   margin: 0;
}

@-webkit-keyframes animate-bg {
   from {
      background-position: 0 0;
   } to {
      background-position: -80px 0;
   }
}

@-moz-keyframes animate-bg {
   from {
      background-position: 0 0;
   } to {
      background-position: -80px 0;
   }
}

.badge {
   position:relative;
   right:11px;
   bottom:5px;
   background-color: #50A1CE;
   background-image: -moz-linear-gradient(top, #5BC0DE, #339BB9);
   background-image: -webkit-linear-gradient(top, #5BC0DE, #339BB9);
   background-image: -o-linear-gradient(top, #5BC0DE, #339BB9);
   background-image: -ms-linear-gradient(top, #5BC0DE, #339BB9);
   background-image: linear-gradient(top, #5BC0DE, #339BB9);
   opacity:0.9;
   color:white;
   padding:2px;
   font-size:8px;
   border: 1px solid rgba(0, 0, 0, 0.102);
   border-radius:8px;
   cursor:pointer;
   margin-right:-13px;
}
* html .badge {
   margin-right:0;
   right:8px;
   bottom:10px;
}

.textbox_grey {
   background-color: rgba(0, 0, 0, 0.102);
   border-radius:3px;
   box-shadow: rgba(0, 0, 0, 0.298) 0px 1px 2px 0px inset, #FFFFFF 0px 1px 0px 0px;
   color: #222222;
   display: inline-block;
   height: 13px;
   padding: 3px 7px;
   text-align: center;
   text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.600);
}
* html .textbox_grey {
   background-color: #D7D7D7;
}

#img_container {
   background-image: url(../img/Checker-16x16.png);
   margin-top:10px;
   position:relative;
}

.opis {
   background: #F4F5F7 url(../img/blockquote.gif) 3px 3px no-repeat;
   border: 1px dashed #CCC;
   padding: 8px 12px 8px 36px;
   margin: -1px 0 0 0;
   overflow: auto;
   color:#000000;
   text-align:left;
   min-width:300px;
}

#table_ref {
   width:100%;
   font-size:12px;
}

#table_ref tr {
   width:100%;
}

#table_ref tr td:nth-child(1) {
   width:100px;
}

#table_ref tr td:nth-child(2) {
   width:150px;
}

#table_ref tr td:nth-child(3) {
   width:300px;
}

.button_geo {
   width:40px;
   height:40px;
   background:rgba(0,0,0,0.5) url('../img/geo.png') no-repeat center;
   position: absolute;
   bottom: 0px;
   left: 0px;
   cursor:pointer;
   opacity:0.4;
   border-top: 1px solid #B7C4D2;
   border-right: 1px solid #B7C4D2;
}
.button_geo:hover {
   opacity:1;
}