.progress {
	background-position: +50% 0;
	background: url(../../img/fancyupload/progress.gif) no-repeat;
	margin-right: 5px;
	vertical-align: middle;
}

.progress-text {
	font-size: 0.9em;
}

#multi-list {
	list-style: none;
	width: 450px;
	margin: 0;
}

#multi-list li.validation-error {
	padding-left: 44px;
	line-height: 40px;
	display: block;
	clear: left;
	color: #8a1f11;
	cursor: pointer;
	border-bottom: 1px solid #fbc2c4;
	background: #fbe3e4 url(../../img/fancyupload/failed.png) no-repeat 4px 4px;
}

#multi-list li.file {
	border-bottom: 1px solid #eee;
	background: url(../../img/fancyupload/file.png) no-repeat 4px 4px;
	overflow: auto;
}
#multi-list li.file.file-uploading {
	background-image: url(../../img/fancyupload/uploading.png);
	background-color: #D9DDE9;
}
#multi-list li.file.file-success {
	background-image: url(../../img/fancyupload/success.png);
}
#multi-list li.file.file-failed {
	background-image: url(../../img/fancyupload/failed.png);
}

#multi-list li.file .file-name {
	font-size: 11px;
	margin-left: 44px;
	display: block;
	clear: left;
	height: 40px;
	padding:3px;
}
#multi-list li.file .file-size {
	font-size: 0.9em;
	float: right;
	margin-top: 2px;
	margin-right: 6px;
}
#multi-list li.file .file-info {
	display: block;
	margin-left: 44px;
	font-size: 1em;
}
#multi-list li.file .file-remove {
	clear: right;
	float: right;
	margin-right: 6px;
	margin-top: 10px;
}