﻿.settings {
   background:url('img/settings.png') no-repeat;
   cursor: pointer;
   height: 28px;
   width: 30px;
   display:block;
   position:relative;
   left:230px;
   bottom:30px;
}

.settings:hover {
   background-position:left bottom;
}

#screen {
   width:490px;
   height:370px;
   margin: 10px;
   text-align: center;
}

.buttonPane {
   text-align: center;
}

.hidden {
   display:none;
}